body {
  text-align:center;
  font-family:Arial;
  background:black;
  color:white;
}

.btn {
  min-width:150px;
  height:60px;
  margin:10px;
  background:white;
  color:blue;
  border:2px solid blue;
  border-radius:10px;
  cursor:pointer;
  user-select:none;
  transition:all 0.3s ease-in-out;
  font-size:20px;
}

.btn:hover {
  background:blue;
  color:white;
}

label {
  font-size:20px;
}

input {
  height:25px;
  font-size:20px;
}

.modal-content {
  color:black;
}