#board {
  margin:0 auto;
  width:300px;
  height:350px;
  text-align:center;
  margin-bottom:25px;
}
.tile {
  display:inline-block;
  width:50px;
  height:50px;
  margin:3px;
  border:2px solid white;
  vertical-align: middle;
  font-size:40px;
  border-radius:3px;
}



#keyboard {
  margin:0 auto;
}

.key {
  min-width:30px;
  background:lightgray;
  border:none;
  color:black;
  height:50px;
  margin:3px;
  text-align;center;
  border-radius:3px;
  transition:none;
}
.key:hover {
  background:lightgray;
  color:black;
}

.gray {
  background: #787c7e !important;
}

.yellow {
  background: #c9b458 !important;
}

.green {
  background: #6aaa64 !important;
}
